**<center><font size="15">Water Meter Dataset Initial Analysis</font><center>**

<center><font size="5">Prepared by Kristen Davis for WSO Interview Round 1</font><center>

## Libraries and Data Initialization 
Libraries, packages and data used in analysis

In [2]:
#libraries
import pandas as pd

In [5]:
#dataset 
df = pd.read_csv("Data/WSO_Analyst_Example_Dataset.csv") 

#sanity check 
df.head()

    meterID  testYear  installationYear meterSize meterMake accuracy
0  35826455      2019              1991       5/8   NEPTUNE   98.72%
1  85381440      2018              2007       5/8   NEPTUNE    0.00%
2  43165289      2019              1997       5/8   NEPTUNE   98.95%
3  42947481      2019              1997       5/8   NEPTUNE   99.86%
4  18432485      2019              2002       5/8    BADGER   99.85%

## Meta EDA & Data Manipulation
Generalized metrics, statistics, and column based data manipulation (as needed)

In [8]:
#descriptive statistics
df.describe()

          testYear  installationYear
count  1962.000000       1962.000000
mean   2018.537207       1997.147299
std       0.522704         14.305625
min    2018.000000       1941.000000
25%    2018.000000       1994.000000
50%    2019.000000       2000.000000
75%    2019.000000       2006.000000
max    2020.000000       2019.000000

In [10]:
#data types  
df.dtypes

meterID             object
testYear             int64
installationYear     int64
meterSize           object
meterMake           object
accuracy            object
dtype: object

*Based on the initial describe results returning only 2 columns when I expected to see 4 (testYear, installationYear, meterSize & accuracy) I know that one of the first tasks needed will be to assign meterSize and accuracy to numerical column types. Dtypes confirms this.*